*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 30%;
    margin: 30px auto 0;
    text-align: center;
}

input{
    margin: 20px 0;
}

button{
    margin-top: 20px;
}